<footer id="rodape">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="images/brandUlogo.png" class="img-responsive">
            </div>
            <div class="col-md-4">
                <p class="rodape-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque adipisci velit delectus. Ab quidem rerum dignissimos, sed, harum porro quisquam provident assumenda minus at sequi odio sunt, eos inventore repellendus!</p>
            </div>
            <div class="col-md-3">
                <div class="roda-contact"><i class="fa fa-phone" aria-hidden="true"></i>Call Us <span>+44 3456-6780</span></div>
                <div class="roda-mail"><i class="fa fa-envelope-o" aria-hidden="true"></i><span><a href="mailto:info@brandultd.com">info@brandultd.com</a></span></div>
                <div class="roda-local"><i class="fa fa-map-marker" aria-hidden="true"></i><span>London - England</span></div>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>

            </div>
        </div>
    </div>
</footer>
