<footer id="rodape">
    <div class="container-fluid">
        <div class="row espaco">
            <div class="col-md-3 col-md-offset-1">
                <img src="images/brandUlogo.png" class="img-responsive">
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="sigas">Follow Us</div>
                        <a href="https://www.facebook.com/BrandUltd/" target="_blank"> <i class="fa fa-facebook-square sociais fafa" aria-hidden="true"></i></a>
                        <a href="https://twitter.com/BrandULtd" target="_blank"><i class="fa fa-twitter-square sociais midz" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/brandultd/" target="_blank"><i class="fa fa-instagram sociais" aria-hidden="true"></i></a>
                    </div>

                    <div class="col-md-10 col-md-offset-2">
                        <div class="sigas">Contact us</div>
                        <div class="roda-contact"><i class="fa fa-phone" aria-hidden="true"></i>Call Us <span>+44 3456-6780</span></div>
                        <div class="roda-mail"><i class="fa fa-envelope-o" aria-hidden="true"></i><span><a href="mailto:info@brandultd.com">info@brandultd.com</a></span></div>
                        <div class="roda-local"><i class="fa fa-map-marker" aria-hidden="true"></i><span>London</span> / England</div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <a href="/home"><p class="rodape-text">Home</p></a>
                <a href="/about"><p class="rodape-text">About Us</p></a>
                <a href="/services"><p class="rodape-text">Services</p></a>
                <a href="/clients"><p class="rodape-text">Clients</p></a>
                <a href="/contact"><p class="rodape-text">Contact</p></a>
            </div>
        </div>
    </div>
</footer>
