<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- =========================
          Header
      ============================== -->
    <% include partials/navbar.ejs %>



        <!-- =========================
             HERO SECTION
        ============================== -->
        <section id="hero-about" class="hero bgabout">
            <div class="overlayabout"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      <div class="more-us">
                        <h1 class="text-center">A culture of brand</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quia repellat, ducimus, delectus possimus culpa velit repudiandae vitae quod at officia commodi eveniet esse? Excepturi architecto nam, obcaecati harum quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nulla beatae nisi, earum minus labore reiciendis dicta sit, natus magni delectus amet quaerat ipsa adipisci accusamus quam culpa quos alias.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quos rerum, eius vel culpa nesciunt, cupiditate minus accusantium officia harum numquam sequi tenetur optio voluptatum sapiente temporibus facilis animi! Quasi!</p>
                      </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- =========================
             Footer
        ============================== -->
        <% include partials/footer.ejs %>


            <!-- =========================
             Scripts-
        ============================== -->
            <% include partials/scripts.ejs %>


</body>

</html>
