<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- =========================
          Header
      ============================== -->
    <% include partials/navbar.ejs %>



        <!-- =========================
             HERO SECTION
        ============================== -->
<h1>Clients PAGE</h1>





        <!-- =========================
             Footer
        ============================== -->
        <% include partials/footer.ejs %>


            <!-- =========================
             Scripts-
        ============================== -->
            <% include partials/scripts.ejs %>


</body>

</html>
