<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- =========================
          Header
      ============================== -->
    <% include partials/navbar.ejs %>


    <section id="hero-clients" class="bgserv">
        <div class="overlayclients"></div>
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center">Our Clients</h1>
              </div>
            </div>
        </div>
    </section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="grid">
          <figure class="effect-sadie">
            <img src="images/servd.jpg" alt="img02"/>
            <figcaption>
              <h2>Client <span>Music</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.! <br>She had a dark soul.</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-4">
        <div class="grid">
          <figure class="effect-sadie">
            <img src="images/servd.jpg" alt="img02"/>
            <figcaption>
              <h2>Fashion <span>x</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.! <br>She had a dark soul.</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-4">
        <div class="grid">
          <figure class="effect-sadie">
            <img src="images/servd.jpg" alt="img02"/>
            <figcaption>
              <h2>Fashion <span>x</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.! <br>She had a dark soul.</p>
            </figcaption>
          </figure>
        </div>
      </div>


    </div>
  </div>


</section>




        <!-- =========================
             Footer
        ============================== -->
        <% include partials/footer.ejs %>


            <!-- =========================
             Scripts-
        ============================== -->
            <% include partials/scripts.ejs %>


</body>

</html>
