<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- =========================
          Header
      ============================== -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top bg-transparent">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                    <a class="navbar-brand" href="#"><img class="img-responsive" width="190" src="images/brandUlogo.png"> </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#clients">Clients</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>



    <!-- =========================
             HERO SECTION
        ============================== -->
    <section id="hero1" class="hero bgintro">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 data-wow-delay=".50s" class="wow slideInLeft title-one">We build your brand</h1>
                    <h3 data-wow-delay=".70s" class="wow fadeIn subti-b">London-based company who works with brands to create, build and grow an image that stands the test of time.</h3>
                    <h5 data-wow-delay=".80s" class="wow fadeIn subti-c">Athletic talent, music, fashion, events ...</h5>
                    <h5 data-wow-delay=".90s" class="wow fadeIn subti-c">BrandU are a sought after London-based company who works with brands to create, build and grow an image that stands the test of time.</h5>
                    <button data-wow-delay="1.4s" class="wow fadeIn btn-blue">Contact us</button>

                </div>
            </div>
        </div>
    </section>
    <!-- =========================
             Section - Intro
        ============================== -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <span class="wow fadeInDown" data-wow-delay=".5s">ABOUT US</span>
                    <h2 class="wow slideInLeft">BrandU work with brands to create, build and grow an image that stands the test of time.</h2>
                    <p class="wow slideInRight"> We provide professional advice that can help you to reach your full potential. To transform businesses through the relationships, innovation, solutions that we deliver and value we bring.</p>
                </div>
                <div class="col-md-5 col-md-offset-2 no-space onlyz">
                    <img class="img-responsive pull-right wow fadeInDown" src="images/bdf.jpg">
                </div>
                <div class="col-md-12 wow fadeInUp" data-wow-delay=".5s">
                    <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read more about us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- =========================
             Section - Services
        ============================== -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>What we love to do</h1>
                    <span>OUR SERVICES</span>
                </div>
                <div class="servicos text-center">
                    <div class="col-md-6">
                        <h2>Atheltic talent</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, facilis veritatis accusantium delectus quisquam, animi velit nisi accusamus error numquam ad id, qui nesciunt deleniti distinctio!</p>
                    </div>
                    <div class="col-md-6">
                        <h2>music</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, facilis veritatis accusantium delectus quisquam, animi velit nisi accusamus error numquam ad id, qui nesciunt deleniti distinctio!</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Events</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, facilis veritatis accusantium delectus quisquam, animi velit nisi accusamus error numquam ad id, qui nesciunt deleniti distinctio!</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Fashion</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, facilis veritatis accusantium delectus quisquam, animi velit nisi accusamus error numquam ad id, qui nesciunt deleniti distinctio!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- =========================
             Section - Index contact
        ============================== -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 contz">
                    <h1>Let’s chat. We’d love to get to know you</h1>
                </div>
                <div class="col-md-4 text-center">
                    <button class="btn-conta">Contact us</button>
                </div>
            </div>
        </div>
    </section>

    <!-- =========================
             Section - Last projects
        ============================== -->

    <section id="last-projects">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 text-center ">
                    <h1>Latest Projects</h1>
                    <h3>Maiores ducimus aliquam est inventore quaerat quibusdam</h3>
                </div>
                <div class="col-md-4">
                    <img src="images/servd.jpeg" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="images/serve.jpeg" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="images/srv1.jpg" class="img-responsive">
                </div>
            </div>
    </section>


    <!-- =========================
             Footer
        ============================== -->
    <% include partials/footer.ejs %>


        <!-- =========================
             Scripts-
        ============================== -->
        <% include partials/scripts.ejs %>
            <script>
                new WOW().init();
            </script>


</body>

</html>
