<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- =========================
          Header
      ============================== -->
    <% include partials/navbar.ejs %>

    <section id="hero-services" class="bgserv">
        <div class="overlayserv"></div>
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="text-center">Services PAGE</h1>
              </div>
            </div>
        </div>
    </section>

  <section class="list-serv">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">What we do for our clients</h1>
        </div>
        <div class="col-md-3">
          <div class="img-wrapper">
            <img  class="img-responsive" src="images/serva.jpeg">
          </div>

          <h3>Atheltic talent</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nisi cupiditate, veritatis. Reiciendis amet unde excepturi nam quos inventore, doloremque magni asperiores quasi consectetur. Perferendis voluptatibus earum tempore ex esse.</p>
        </div>
        <div class="col-md-3">
          <div class="img-wrapper">
            <img  class="img-responsive" src="images/servb.jpeg">
          </div>

          <h3>Events</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nisi cupiditate, veritatis. Reiciendis amet unde excepturi nam quos inventore, doloremque magni asperiores quasi consectetur. Perferendis voluptatibus earum tempore ex esse.</p>
        </div>
        <div class="col-md-3">
          <div class="img-wrapper">
            <img  class="img-responsive" src="images/servc.jpeg">
          </div>

          <h3>Fashion</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nisi cupiditate, veritatis. Reiciendis amet unde excepturi nam quos inventore, doloremque magni asperiores quasi consectetur. Perferendis voluptatibus earum tempore ex esse.</p>
        </div>
        <div class="col-md-3">
          <div class="img-wrapper">
            <img  class="img-responsive" src="images/servd.jpg">
          </div>

          <h3>Music</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nisi cupiditate, veritatis. Reiciendis amet unde excepturi nam quos inventore, doloremque magni asperiores quasi consectetur. Perferendis voluptatibus earum tempore ex esse.</p>
        </div>
      </div>
    </div>
  </section>

        <!-- =========================
             HERO SECTION
        ============================== -->



        <!-- =========================
             Footer
        ============================== -->
        <% include partials/footer.ejs %>


            <!-- =========================
             Scripts-
        ============================== -->
            <% include partials/scripts.ejs %>


</body>

</html>
