/* ==========================================================================
   01. SPACING & ALIGNMENT
========================================================================== */
/* margin */
/* padding */
/* ==========================================================================
   02. Fonts
========================================================================== */
/* ==========================================================================
   03. Overlay Effect
========================================================================== */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* Provides cross-browser RGBa background */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
  background: transparent;
  background: rgba(29, 156, 211, 0.4); }

/* set filter as none for IE9+, because IE9+ support RGBa */
:root .overlay {
  filter: none\0/IE9; }

/* ==========================================================================
   04. Section
========================================================================== */
section {
  position: relative;
  overflow: hidden; }

.hero {
  height: 700px; }

/* ==========================================================================
   05. Colors
========================================================================== */
/* ==========================================================================
   06. HEADER NAVIGATION
========================================================================== */
.navbar {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: none;
  margin-bottom: 0;
  padding: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.navbar.bg-transparent {
  background-color: transparent;
  border: none;
  box-shadow: none; }

.navbar-nav > li > a {
  text-decoration: none;
  font-size: 20px;
  padding: 9px 20px;
  border-radius: 5px;
  margin-right: 2px;
  line-height: 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif; }

.sticky {
  position: fixed;
  top: 0px;
  z-index: 150;
  background-color: #fff !important; }

.sticky a {
  color: #444040 !important; }

.sticky a:hover {
  border-bottom: solid 2px #1D9CD3; }

/* ==========================================================================
   07. HERO - INDEX
========================================================================== */
#hero1 {
  padding-top: 15%; }
  #hero1 h1 {
    font-family: "Oswald", sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #fff; }
  #hero1 h3 {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    line-height: 35px;
    margin-top: 40px; }
  #hero1 h5 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px; }

.bgintro {
  background-image: url("../images/london2.jpg");
  background-size: cover;
  background-position: 0% 10%; }

.btn-blue {
  display: inline-block;
  color: #ffffff;
  padding: 20px 31px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #1D9CD3;
  border: 0;
  border-bottom: #145b79 8px solid; }

/* ==========================================================================
   07. Intro - INDEX
========================================================================== */
#intro {
  padding-top: 50px; }
  #intro span {
    color: #acb4b5;
    margin-bottom: 20px;
    letter-spacing: 4px; }
  #intro .texto {
    font-family: "Oswald", sans-serif;
    padding: 80px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(29, 156, 211, 0.4);
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff; }
  #intro h2 {
    font-size: 34px;
    color: #1D9CD3;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px; }
  #intro a {
    color: #1D9CD3;
    text-decoration: none;
    font-size: 15px;
    font-family: "Oswald", sans-serif; }
  #intro i {
    color: #1D9CD3;
    margin-right: 10px; }
  #intro p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #acb4b5;
    margin-bottom: 20px; }
  #intro h4 {
    font-size: 20px;
    font-family: "Oswald", sans-serif; }
  #intro img {
    height: 300px !important;
    width: 100% !important; }
  #intro .no-space {
    padding-left: 0 !important;
    padding-right: 0 !important; }

/* ==========================================================================
   07. Services - INDEX
========================================================================== */
#services {
  margin-top: 50px;
  background-image: url("../images/london1.jpeg");
  background-size: cover; }
  #services h1 {
    font-family: "Oswald", sans-serif;
    line-height: 40px;
    color: #1D9CD3;
    font-size: 46px;
    margin: 40px 0 30px 0; }
  #services span {
    color: #acb4b5;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px; }
  #services h2 {
    font-size: 24px;
    line-height: 32px;
    color: #1D9CD3; }
  #services .col-md-6 {
    background: rgba(50, 51, 51, 0.4);
    margin-bottom: 40px; }
  #services p {
    margin-bottom: 20px;
    color: #acb4b5;
    font-family: "Open Sans", sans-serif; }

/* ==========================================================================
   07. Contact I - INDEX
========================================================================== */
#contact {
  background-color: #1D9CD3;
  color: #fff; }
  #contact .contz {
    margin: 60px 0; }
  #contact .btn-conta {
    display: inline-block;
    color: #1D9CD3;
    padding: 20px 31px;
    margin: 60px 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #fff;
    border: 0;
    border-bottom: #145b79 8px solid;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

/* ==========================================================================
   08. Last projects- INDEX
========================================================================== */
#last-projects h1 {
  font-family: "Oswald", sans-serif; }
#last-projects h3 {
  font-family: "Open Sans", sans-serif; }
#last-projects .blo {
  background-color: #1D9CD3; }

/* ==========================================================================
   08. Footer- INDEX
========================================================================== */
#rodape {
  background-color: #000; }
  #rodape .espaco {
    margin: 40px 0; }
  #rodape .sigas {
    color: #fff;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #rodape img {
    width: 70%; }
  #rodape .rodape-text {
    color: #acb4b5;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 32px;
    padding-left: 20px;
    margin-bottom: 20px; }
  #rodape .roda-contact {
    margin-bottom: 5px;
    font-size: 18px;
    color: #acb4b5;
    font-family: "Oswald", sans-serif;
    color: #1D9CD3; }
    #rodape .roda-contact span {
      font-size: 20px;
      color: #acb4b5;
      margin-left: 5px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
    #rodape .roda-contact i {
      margin-right: 20px;
      color: #1D9CD3; }
  #rodape .roda-mail {
    margin-bottom: 7px; }
    #rodape .roda-mail span {
      color: #acb4b5;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      font-weight: 700; }
    #rodape .roda-mail i {
      margin-right: 20px;
      color: #acb4b5; }
    #rodape .roda-mail a {
      text-decoration: none;
      color: #acb4b5;
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      font-weight: 700; }
  #rodape .roda-local {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #acb4b5; }
    #rodape .roda-local span {
      font-size: 20px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400; }
    #rodape .roda-local i {
      padding-left: 2px;
      margin-right: 22px;
      color: #acb4b5;
      font-size: 18px; }
  #rodape .sociais {
    font-size: 25px;
    margin-bottom: 30px; }
  #rodape .midz {
    margin: 0 30px;
    color: #1DA1F2; }
  #rodape a {
    text-decoration: none; }
  #rodape .fafa {
    color: #3B5998; }

/*# sourceMappingURL=style.css.map */
