
/* ==========================================================================
   01. SPACING & ALIGNMENT
========================================================================== */
/* margin */
$space-a: 15%;

/* padding */

/* ==========================================================================
   02. Fonts
========================================================================== */
// font-family: 'Oswald', sans-serif;
// font-family: 'Open Sans', sans-serif;
$font-a: 'Oswald', sans-serif;
$font-b: 'Open Sans', sans-serif;

/* ==========================================================================
   03. Overlay Effect
========================================================================== */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Provides cross-browser RGBa background */
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
    background: transparent;
    background: rgba(29, 156, 211, 0.4);
}

/* set filter as none for IE9+, because IE9+ support RGBa */
:root .overlay {
    filter: none\0/IE9;
}



/* ==========================================================================
   04. Section
========================================================================== */
section{
  position: relative;
  overflow: hidden;
}
.hero{
  height: 700px;
}
.hero-contact{
  height: 300px;
}
#hero-about{
  height: 700px;
}
#hero-services{
  height: 300px;
}
/* ==========================================================================
   05. Colors
========================================================================== */
$bluez: #1D9CD3;
$darkz: #444040;
$grey: #acb4b5;



/* ==========================================================================
   06. HEADER NAVIGATION
========================================================================== */
.navbar {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: none;
    margin-bottom: 0;
    padding: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.navbar.bg-transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.navbar-nav>li>a {
  text-decoration: none;
    font-size: 20px;
    padding: 9px 20px;
    border-radius: 5px;
    margin-right: 2px;
    line-height: 20px;
    color: #fff;
    font-family: $font-b;
}
.sticky {
position:fixed;
top:0px;
z-index:150;
background-color: #fff !important;

}
.sticky a {
  color: $darkz !important;
}
.sticky a:hover{
  border-bottom: solid 2px $bluez;
}


/* ==========================================================================
   07. HERO - INDEX
========================================================================== */
#hero1{
  padding-top: $space-a;
  h1{
    font-family: $font-a;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
  }
   h3{
    font-family: $font-b;
    color: #fff;
    // background-color: $bluez;
    // padding: 20px;
    line-height: 35px;
    margin-top: 40px;
  }
  h5{
    color: #fff;
    font-family: $font-b;
    font-size: 18px;

  }
}
.bgintro{
  background-image: url("../images/london2.jpg");
  background-size: cover;
  background-position: 0% 10%;
}

.btn-blue{
  display: inline-block;
  color: #ffffff;
  padding: 20px 31px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: $bluez;
  border: 0;
  border-bottom: #145b79 8px solid;
}
/* ==========================================================================
   07. Intro - INDEX
========================================================================== */
#intro{
  // background-color: #F7F7F7;
  padding-top: 50px;
  span{
    color: $grey;
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
  .texto{
    font-family: $font-a;
    padding: 80px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(29, 156, 211, 0.4);
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  h2{
    font-size: 34px;
    color: $bluez;
    font-family: $font-a;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px;
  }
  a{
    color: $bluez;
    text-decoration: none;
    font-size: 15px;
    font-family: $font-a;
  }
  i{
    color: $bluez;
    margin-right: 10px;
  }

  p{
    font-family: $font-b;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: $grey;
    margin-bottom: 20px;
  }
  h4{
    font-size: 20px;
    font-family: $font-a;
  }
  img{
    height: 300px !important;
    width: 100% !important;
  }
  .no-space{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

/* ==========================================================================
   07. Services - INDEX
========================================================================== */
#services{
  margin-top: 50px;
  // background-color: $darkz;
  background-image: url("../images/london1.jpeg");
  background-size: cover;

 h1{
   font-family: $font-a;
   line-height: 40px;
   color: $bluez;
   font-size: 46px;
   margin: 40px 0 30px 0;
 }
 span{
   color: $grey;
   letter-spacing: 4px;
   font-family: $font-b;
   font-weight: 400;
   font-size: 18px;
 }
 h2{
   font-size: 24px;
   line-height: 32px;
   color: $bluez;
 }
 .col-md-6{
   background: rgba(50, 51, 51, 0.4);
    margin-bottom: 40px;
 }
 p{
   margin-bottom: 20px;
   color: $grey;
   font-family: $font-b;
 }

}

/* ==========================================================================
   07. Contact I - INDEX
========================================================================== */
#contact{
  background-color: #1D9CD3;
  color: #fff;
  .contz{
    margin: 60px 0;
  }
  .btn-conta{
    display: inline-block;
    color: $bluez;
    padding: 20px 31px;
    margin: 60px 0;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #fff;;
    border: 0;
    border-bottom: #145b79 8px solid;
    font-family: $font-b;
    font-weight: 700;
  }
}

/* ==========================================================================
   08. Last projects- INDEX
========================================================================== */

#last-projects{
  h1{
    font-family: $font-a;
  }
  h3{
    font-family: $font-b;
  }
  .blo{
    background-color: $bluez;
  }
}


/* ==========================================================================
   08. Footer- INDEX
========================================================================== */

#rodape{
  background-color: #000;
  .espaco{
    margin: 40px 0;
  }
  .sigas{
    color: #fff;
    font-size: 20px;
    font-family: $font-a;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  img{
    width: 70%;
  }
  .rodape-text{
    color: $grey;
    font-size: 17px;
    letter-spacing: 1px;
     line-height: 32px;
     padding-left: 20px;
     margin-bottom: 20px;
  }
  .roda-contact{
    margin-bottom: 5px;
    font-size: 18px;
    color: $grey;
    font-family: $font-a;
    color: $bluez;
    span{
      font-size: 20px;
      color: $grey;
      margin-left: 5px;
      font-family: $font-b;
      font-weight: 700;
    }
    i{
      margin-right: 20px;
      color: $bluez;
    }
  }
  .roda-mail{
    margin-bottom: 7px;
    span{
      color: $grey;
      font-size: 20px;
      font-family: $font-a;
      font-weight: 700;
    }
    i{
      margin-right: 20px;
      color: $grey;
    }
    a{
      text-decoration: none;
      color: $grey;
      font-size: 20px;
      font-family: $font-a;
      font-weight: 700;
    }
  }
  .roda-local{
    font-family: $font-a;
    font-weight: 700;
    font-size: 20px;
    color: $grey;
    span{
      font-size: 20px;
      font-family: $font-b;
      font-weight: 400;
    }
    i{
      padding-left: 2px;
      margin-right: 22px;
      color: $grey;
      font-size: 18px;
    }
  }
  .sociais{
    font-size: 25px;
    margin-bottom: 30px;
  }
  .midz{
    margin: 0 30px;
    color: #1DA1F2;
  }
 a{
   text-decoration: none;
 }
 .fafa{
   color: #3B5998;
 }
}

/* ==========================================================================
   07. Contact Page
========================================================================== */
#contact-pg{
  padding-top: $space-a;
  h1{
    font-family: $font-a;
    font-size: 52px;
    font-weight: 700;
    color: #fff;
  }
   h3{
    font-family: $font-b;
    color: #fff;
    line-height: 35px;
    margin-top: 40px;
  }
  h5{
    color: #fff;
    font-family: $font-b;
    font-size: 18px;
  }
}
.bgcontact{
  background-image: url("../images/london1.jpeg");
  background-size: cover;
  background-position: 0% 70%;
}
.funciona{
  padding: 40px 0;
  .form-group{
    font-family: $font-a;
    font-size: 18px;
    font-weight: 400;
  }

}
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border: 0 !important;
font-family: $font-b;
}
input[type="email"] {
  outline: none;
  box-shadow:none !important;
  border: 0 !important;
  font-family: $font-b;
}
textarea{
  font-family: $font-b !important;
}

.ctc-b{
  margin-bottom: 5px;
  font-size: 18px;
  color: $grey;
  font-family: $font-a;
  color: $bluez;
  span{
    font-size: 20px;
    color: $darkz;
    margin-left: 5px;
    font-family: $font-b;
    font-weight: 700;
  }
  i{
    margin-right: 20px;
    color: $bluez;
  }
}
.ctc-c{
  margin-bottom: 7px;
  span{
    color: $darkz;
    font-size: 20px;
    font-family: $font-a;
    font-weight: 700;
  }
  i{
    margin-right: 20px;
    color: $darkz;
  }
  a{
    text-decoration: none;
    color: $darkz;
    font-size: 20px;
    font-family: $font-a;
    font-weight: 700;
  }
}
.ctc-d{
  font-family: $font-a;
  font-weight: 700;
  font-size: 20px;
  color: $darkz;
  span{
    font-size: 20px;
    font-family: $font-b;
    font-weight: 400;
  }
  i{
    padding-left: 2px;
    margin-right: 22px;
    color: $darkz;
    font-size: 18px;
  }
}
.nz{
  background-color: #f3f3f3;
}
.conta-branco{
  margin-top: 30px;
  background-color: #fff;
  width: 80%;
  padding: 40px 0 40px 65px;
}

/* ==========================================================================
   07. About us Page
========================================================================== */
#hero-about{
    padding-top: 10%;
  .overlayabout {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      /* Provides cross-browser RGBa background */
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
      background: transparent;
      background: rgba(29, 156, 211, 0.8);
  }

  /* set filter as none for IE9+, because IE9+ support RGBa */
  :root .overlayabout {
      filter: none\0/IE9;
  }
  .more-us{
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 6px;
  }
  h1{
    padding-top: 30px;
    color: $bluez;
    font-size: 40px;
    font-family: $font-a;
    font-weight: 700;
    text-transform: uppercase;

  }
  p{
    padding: 20px;
    font-size: 16px;
  }

}
.bgabout{
  background-image: url("../images/aboutus.jpg");
  background-size: cover;
  background-position: 0% 10%;
}

/* ==========================================================================
   07. Services Page
========================================================================== */
#hero-services{
  padding-top: 10%;
  .overlayserv {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      /* Provides cross-browser RGBa background */
      zoom: 1;
      filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
      background: transparent;
      background: rgba(29, 156, 211, 0.6);
  }
  h1{
    color: #fff;
    font-size: 40px;
    font-family: $font-a;
    font-weight: 700;
    text-transform: uppercase;
  }

}
.bgserv{
  background-image: url("../images/servicesbg.jpg");
  background-size: cover;
  background-position: 0% 65%;

}
.list-serv{
  .img-wrapper {
    position: relative;
    padding-bottom: 90%;
    overflow: hidden;
    width: 100%;
  }
  .img-wrapper img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:80%;
  }

}
